{% extends "check_noshow/base.html" %}

{% block title %}Strona główna{% endblock %} 


{% block content %}
<h1>Aplikacja sprawdzająca czy pacjent pojawi się na wizycie</h1>

<p>Dziś jest: {{cur_time}}</p>
<hr>
<h2>Aby sprawdzić czy pacjent się pojawi wejdź w zakładkę <mark>Dodaj pacjenta</mark></h2> 
<hr>
<h3>Nasz rewolucyjny algorytm osiąga 90% skuteczności predykcji czy twój pacjent przyjdzie na wizytę czy też nie</h3>  
<p><small>pod warunkiem że pracujesz w Brazylii.</small> </p>
{% endblock %}